body {
  background: #f0c27b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f0c27b, #4b1248); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f0c27b, #4b1248); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Se modifica estilo global */
body, html {
  height: auto;
  margin: 0;  
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
}

/* Se añade contenedor "wrapper"*/
.wrapper {
  margin:0;
  padding: 0;
  max-width: 30%;
  margin: 4rem auto;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.579);
  border-radius: 20px;
}

/* Se estilizan encabezados*/
.wrapper h1, h2,h3 {
  padding: 10px;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 249, 225);
  align-items: center;
  text-align: center;
  border: 10px;
}

/* Se refinan estilos */
.formulario {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

/* Se refinan estilos de formulario */
.formulario input, select {
  border: none;
  padding: 4px;
  margin: 5px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  background-color: #f1d8b246;
  color: #fffaf3;
}

/* Se añaden estilos al botón*/
.formulario input[type="submit"],option {
  background-color: #240622;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease;
  border-radius: 5px;
}

/* Se añade animación en hover */
.formulario input[type="submit"]:hover {
  font-style: italic;
  border: 2px solid;
  border-radius: 5px;
  border-image: linear-gradient(45deg, #4b1248,#f0c27b) 1;
}

.error {
  background-color: red;
}

/* Se añaden y modifican clases e ID's*/

.elemento-lista {
  font-family: Verdana;
  margin: 10px;
  border: 10px solid;
  border-image: linear-gradient(90deg, #4b1248,#f0c27b) 1;
  border-radius: 5px;
  width: auto;
  margin: 10px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 20px;
}

#boton-borrar {
  background-color: #240622;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease;
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  left: 50%;
  transform: translateX(-60%);
}

#boton-borrar:hover {
  font-style: italic;
  border: 2px solid;
  border-radius: 5px;
  border-image: linear-gradient(45deg, #800606,#f0c27b) 1;
}

.elemento-lista input {
  border: none;
  background: none;
  color: #fffaf3;
  font-family: Verdana;
  font-size: 16px;
}

.elemento-lista button {
  top: -10px;
}

.descripcion {
  font-weight: normal;
  color: #ecddc8;
}

#lista-de-invitados {
padding: 15px;
}

.nombre-invitado {
  font-weight: bold;
  text-align: center;
  position: relative;
  padding: 5px 10px;
  left: 50%;
  transform: translateX(-55%);
  color:#ffddaa !important;
}